.storeContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.storeHeading {
  composes: secondaryColor from '/src/assets/colors.module.css';
  composes: fnt32 from '/src/assets/font.module.css';
  composes: semiBold from '/src/assets/font.module.css';
}

.underlined {
  composes: underlined from '/src/assets/font.module.css';
}

.cardContainer {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem 2rem;
}
