.cart {
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(3px);
  width: 100%;
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: flex-end;
  animation: 200ms blurBg;
}

.cartPopout {
  composes: secondaryColor from '/src/assets/colors.module.css';
  min-width: 350px;
  background-color: white;
  padding: 2.5rem 1.5rem;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  animation: 200ms slide-in;
}

.hidden {
  display: none;
}

.cartHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartHeading {
  composes: fnt28 from '/src/assets/font.module.css';
  composes: semiBold from '/src/assets/font.module.css';
}

.cartItemList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: auto;
}

.cartItemContainer {
  composes: accentLightBg from '/src/assets/colors.module.css';
  composes: fnt18 from '/src/assets/font.module.css';
  composes: semiBold from '/src/assets/font.module.css';
  max-height: min-content;
  padding: 0.75rem 1.5rem;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.itemOrderContainer {
  display: flex;
  justify-content: space-between;
}

.cartItemIcons:hover {
  cursor: pointer;
}

.quantityContainer {
  composes: whiteBg from '/src/assets/colors.module.css';
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.itemQuantity {
  width: 2ch;
  text-align: center;
}

.checkoutSection {
  composes: accentBg from '/src/assets/colors.module.css';
  composes: fnt18 from '/src/assets/font.module.css';
  composes: bold from '/src/assets/font.module.css';
  max-height: min-content;
  padding: 0.75rem 1.5rem;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.checkoutContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 430px) {
  .cartPopout {
    min-width: none;
    width: 100%;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes blurBg {
  from {
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: none;
  }

  to {
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(3px);
  }
}
