.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.storeName {
  composes: fnt28 from '/src/assets/font.module.css';
  composes: bold from '/src/assets/font.module.css';
  composes: secondaryColor from '/src/assets/colors.module.css';
  text-align: left;
}

.storeNameHighlight {
  composes: fnt36 from '/src/assets/font.module.css';
  composes: primaryColor from '/src/assets/colors.module.css';
}

.pagesNavigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.pageLink {
  composes: fnt18 from '/src/assets/font.module.css';
  composes: secondaryColor from '/src/assets/colors.module.css';
  text-decoration: none;
  text-align: center;
}

.currentPageLink {
  composes: fnt18 from '/src/assets/font.module.css';
  composes: primaryColor from '/src/assets/colors.module.css';
  text-decoration: none;
  text-align: center;
}

.searchAndCart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.searchbarForm {
  display: flex;
  align-items: center;
}

.searchIcon {
  position: absolute;
  padding-left: 0.5rem;
  filter: invert(11%) sepia(12%) saturate(4725%) hue-rotate(12deg)
    brightness(96%) contrast(96%);
}

.searchbar {
  composes: fnt12 from '/src/assets/font.module.css';
  composes: secondaryColor from '/src/assets/colors.module.css';
  width: 100%;
  border-radius: 1000px;
  padding: 0.5rem 2.5rem;
}

.searchbar:active,
.searchbar:focus {
  outline: none;
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.224);
}

.btnCart,
.btnSearch,
.btnHamburger {
  height: 1.8rem;
  background: none;
  align-items: center;
  position: relative;
}

.btnCart {
  display: flex;
}

.btnSearch,
.btnHamburger {
  display: none;
}

.btnCart:hover,
.btnSearch:hover,
.btnHamburger:hover {
  cursor: pointer;
}

.iconCart {
  height: 100%;
  filter: invert(11%) sepia(12%) saturate(4725%) hue-rotate(12deg)
    brightness(96%) contrast(96%);
}

.fullCartIndicator {
  composes: primaryBg from '/src/assets/colors.module.css';
  border-radius: 50%;
  height: 40%;
  aspect-ratio: 1;
  position: absolute;
  top: -10%;
  right: 0;
}

@media (max-width: 1024px) {
  .btnSearch {
    display: flex;
  }

  .searchbarForm {
    display: none;
  }
}

@media (max-width: 720px) {
  .pagesNavigation {
    display: none;
  }

  .btnSearch {
    display: none;
  }

  .btnHamburger {
    display: flex;
  }
}
