.page {
  composes: accentLightBg from '/src/assets/colors.module.css';
  padding: 3rem 9rem 6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
