:root {
  --clr-white: #ffffff;
  --clr-glass: #ffffff8a;
  --clr-grey: #7e7d7a;
  --clr-primary: #ff902a;
  --clr-secondary: #2f2105;
  --clr-accent: #f9d9aa;
  --clr-accent-light: #f6ebda;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
}

.whiteColor {
  color: var(--clr-white);
}

.whiteBg {
  background-color: var(--clr-white);
}

.glassColor {
  color: var(--clr-glass);
}

.glassBg {
  background-color: var(--clr-glass);
}

.greyColor {
  color: var(--clr-grey);
}

.greyBg {
  background-color: var(--clr-grey);
}

.primaryColor {
  color: var(--clr-primary);
}

.primaryBg {
  background-color: var(--clr-primary);
}

.secondaryColor {
  color: var(--clr-secondary);
}

.secondaryBg {
  background-color: var(--clr-secondary);
}

.secondaryColor {
  color: var(--clr-secondary);
}

.secondaryBg {
  background-color: var(--clr-secondary);
}

.accentColor {
  color: var(--clr-accent);
}

.accentBg {
  background-color: var(--clr-accent);
}

.accentLightColor {
  color: var(--clr-accent-light);
}

.accentLightBg {
  background-color: var(--clr-accent-light);
}
