@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
  --ff-main: 'Poppins', sans-serif;
  --clr-primary: #ff902a;
}

* {
  font-family: var(--ff-main);
}

.regular {
  font-weight: 400;
}

.semiBold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.underlined {
  text-decoration: underline solid var(--clr-primary) 0.15em;
}

.fnt12 {
  font-size: 12px;
}

.fnt16 {
  font-size: 16px;
}

.fnt18 {
  font-size: 18px;
}

.fnt24 {
  font-size: 24px;
}

.fnt28 {
  font-size: 28px;
}

.fnt32 {
  font-size: 32px;
}

.fnt36 {
  font-size: 36px;
}

.fnt48 {
  font-size: 48px;
}
