@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
  --ff-main: 'Poppins', sans-serif;

  --clr-white: #ffffff;
  --clr-glass: #ffffff8a;
  --clr-primary: #ff902a;
  --clr-secondary: #2f2105;
  --clr-accent: #f9d9aa;
  --clr-accent-light: #f6ebda;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: var(--ff-main);
}
